.clients {
  @media screen and (min-width: 480px) {
    padding-top: 60px;
  }
}
.clients__title {
  padding-bottom: 30px;
  @media screen and (min-width: 1200px) {
    padding-bottom: 50px;
  }
}
.companies {
  @media screen and (min-width: 480px) {
    margin-right: 30px;
    margin-bottom: 30px;
   
  & .images:nth-child(2n) {
    margin-right: 0;
  }

}
// .clients {
//   padding-top: 94px;
//   padding-bottom: 94px;
// }
// .clients__list {
//   @extend %flex-align;
// }
// .companies:last-child {
//   margin-right: 0px;
// }
// .companies__link {
//   @extend %align-list;
//   width: 170px;
//   height: 92px;
//   border-radius: 4px;
//   border: 1px solid #afb1b8;
//   margin-right: 30px;
//   fill: #afb1b8;

//   transition-property: border, fill;
//   transition-duration: 250ms;
//   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//   &:hover {
//     fill: #2196f3;
//     border-color: #2196f3;
//   }
// }
// .svg-company {
//   fill: #afb1b8;
// }
