.footer {
  background-color: var(--color-background);
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 768px) {
    height: 463px;
  }
}

.flex {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}
