.social {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 235px;
    // position: relative;
    // align-items: baseline;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
  }
}
.social__list {
  @media screen and (min-width: 480px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media screen and (min-width: 768px) {
    // display: flex;
  }
}
.social__title {
  @media screen and (min-width: 480px) {
    padding-top: 60px;
  }
  @media screen and (min-width: 768px) {
  }
}

.social__link {
  @media screen and (min-width: 480px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  margin-right: 10px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    background-color: #188ce8;
  }
}
.social__link--logo {
  fill: white;
}
