.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  padding-top: 48px;
  padding-bottom: 48px;
  transition: left 500ms, visibility 500ms;
  .container {
    width: 448px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.open-mob-menu {
  @media screen and (max-width: 767px) {
    display: inline-block;
    margin-left: auto;
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0);
    top: 8px;
    right: 8px;
    &:hover .header__navigation--button {
      fill: #188ce8;
    }
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    display: none;
  }
}
.close-mob-menu {
  display: block;
  margin-left: auto;
  margin-bottom: 25px;
}
.mob-menu-list__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}
.mob-menu-list__link {
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 40);
  text-align: center;
  letter-spacing: 0.02em;
  color: black;
  margin-bottom: 32px;
  &:hover {
    color: #2196f3;
  }
  &:focus {
    color: #2196f3;
  }
}
.mob-connect__tel {
  display: flex;
  flex-basis: auto;
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 40);
  text-align: center;
  letter-spacing: 0.02em;
  color: #757575;
  margin-bottom: 32px;
  &:hover {
    color: #2196f3;
  }
  &:focus {
    color: #2196f3;
  }
}
.mob-connect__mail {
  display: flex;
  flex-basis: auto;
  font-weight: 500;
  font-size: 24px;
  line-height: calc(28 / 40);
  text-align: center;
  letter-spacing: 0.02em;
  color: #757575;
  &:hover {
    color: #2196f3;
  }
  &:focus {
    color: #2196f3;
  }
}
.mob-menu-connect {
  margin-bottom: 64px;
}
.mob-social {
  display: flex;
}
.mob-social__item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}
.mob-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 18);
  letter-spacing: 0.02em;
  color: #2196f3;
}
.mob-menu .is-hidden {
  left: 100%;
}
.close-mob-menu {
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 50%;
  top: 8px;
  right: 8px;
  &:hover .close-menu__img {
    fill: #188ce8;
  }
}
